
<%= render "shared/navbar" %>

<div class= "container">
  <div class= "greeting">
  <h2>Hello</h2><h2><%= current_user.first_name %>!</h2>
  </div>
      <h3>Your bookings:</h3>
    <% current_user.bookings.each do |booking| %>
     <h5>Your journey begins on:</h5>
      <%= booking.start_date %>
      <h5>And finish on:</h5>
      <%= booking.end_date %>
      <h5>Number of travellers: </h5>
      <%= booking.number_of_visitors %>
      <%= link_to "View details", bookings_path(booking), class: "btn btn-outline-dark" %>
    <% end %>
 </div>
</div>
 
<%= link_to "Back to planets", planets_path, class: "btn btn-outline-dark"%>


<div class="footer" style="background-color: rgba(35, 35, 104, 0.301)">
  <p><span data-controller="typed-js"></span></p>
		<a href="#"><i class="fab fa-youtube"></i></a>
		<a href="#"><i class="fab fa-facebook"></i></a>
		<a href="#"><i class="fab fa-twitter"></i></a>
		<a href="#"><i class="fab fa-github"></i></a>
		</ul>
</div>
