<%= render "shared/navbar" %>

<div class="entry-ban" style="text-align: center">
  <h1 style="margin-top: 30px">Thank you for choosing us !</h1>
  <h2>We salute your courage</h2>
</div>

<div class="details-sejour" style="display: flex; justify-content: space-between; height: 400px">
  <div>
    <h3 style="margin-top: 30px; margin-bottom: 20px">Recap of your journey :</h5>
    <h6>Planet name : <%= @booking.planet.name %></h6>
    <p>Mass : <%= @booking.planet.mass %></p>
    <p>Area : <%= @booking.planet.area %></p>
    <p>Solar system : <%= @booking.planet.solar_system %></p>
  </div>
  <div style="margin-top: 50px">
    <p>Number of visitors : <%= @booking.number_of_visitors %></p>
    <p>Beginning date : <%= @booking.start_date %></p>
    <p>End date : <%= @booking.end_date %></p>
    <p>Price : 200 000$</p>
    <br>
    <br>
    <br>
    <%= link_to "Edit your reservation", edit_booking_path, class: "btn btn-outline-light" %>
    <%= link_to "Cancel your reservation", booking_path(@booking), data: { turbo_method: :delete }, class: "btn btn-outline-light" %>
  </div>
</div>

<div style="text-align: center; margin-top: 40px">
  <h4>Past reviews :</h4>
</div>

<div class="container">
  <div class="row">
    <div class="cards-list">
      <div class="col-12 col-lg-4">
        <div class="card" style="width: 23rem;">
          <img class="card-img-top" src="https://images.pexels.com/photos/13074506/pexels-photo-13074506.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap" style="height: 255px">
          <div class="card-body" style="display: flex">
            <p class="card-text">"What an amazing adventure ! I will remember it for the rest of my life."</p>
            <%= image_tag "https://images.pexels.com/photos/698532/pexels-photo-698532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class: "avatar", alt: "avatar" %>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="card" style="width: 23rem;">
          <img class="card-img-top" src="https://images.pexels.com/photos/12498805/pexels-photo-12498805.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap" style="height: 255px">
          <div class="card-body" style="display: flex">
            <p class="card-text">"What a great technology, the people who created this are geniuses !"</p>
            <%= image_tag "https://images.pexels.com/photos/13083161/pexels-photo-13083161.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class: "avatar", alt: "avatar" %>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="card" style="width: 23rem;">
          <img class="card-img-top" src="https://images.pexels.com/photos/673902/pexels-photo-673902.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap" style="height: 255px">
          <div class="card-body" style="display: flex">
            <p class="card-text">"Words can't describe what we lived on Uranus with my family, I recommand this society ! Thenk you !."</p>
            <%= image_tag "https://images.pexels.com/photos/3936894/pexels-photo-3936894.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class: "avatar", alt: "avatar" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
