<div class="container-new-edit color">
  <%= simple_form_for @planet do |f| %>
    <%= f.input :name %>
    <%= f.input :mass %>
    <%= f.input :area %>
    <%= f.input :solar_system %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
