<%= render "shared/navbar" %>

<div class ="big_container">

  <%= form_with url: planets_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a planet"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="test" style="display: grid; grid-template-columns: 1fr 1fr 1fr">
  <% @planets.each do |planet| %>
    <div class="planets-cards">
      <div class="card" style="width: 18rem;">
    <% if planet.photos.attached? %>

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag planet.photos.first.key, height: 300, width: 285, crop: :fill %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag planet.photos.last.key, height: 300, width: 285, crop: :fill %>
          </div>
        </div>
    <% end %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

        <div class="card-body">
          <h5 class="card-title"><%= planet.name %></h5>
          <p class="card-text"> <%= planet.solar_system %> </p>
          <%= link_to "View details", planet_path(planet), class: "btn btn-outline-dark" %>
        </div>
      </div>
    </div>
      <% end %>
  </div>
</div>
<%= render "shared/footer" %>
