<%= render "shared/navbar" %>

<div class="test" style="display: grid; grid-template-columns: 1fr 1fr 1fr">
  <% @planets.each do |planet| %>
  <div class="planets-cards">
    <div class="card" style="width: 18rem;">
      <%= cl_image_tag planet.photos.first.key, height: 300, width: 250, crop: :fill %>
      <%= cl_image_tag planet.photos.last.key, height: 300, width: 250, crop: :fill %>
      <%# <img src=" planet.photo.attached? " class="card-img-top" alt="..."> %>
      <div class="card-body">
        <h5 class="card-title"><%= planet.name %></h5>
        <p class="card-text"> <%= planet.solar_system %> </p>
        <%= link_to "View details", planet_path(planet), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
    <% end %>
</div>
