<%= render "shared/navbar" %>

<%= form_with url: planets_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a planet"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="test" style="display: grid; grid-template-columns: 1fr 1fr 1fr">
  <% @planets.each do |planet| %>
  <div class="planets-cards">
    <div class="card" style="width: 18rem;">
    <% if planet.photos.attached? %>
      <%= cl_image_tag planet.photos.first.key, height: 300, width: 250, crop: :fill %>
      <%= cl_image_tag planet.photos.last.key, height: 300, width: 250, crop: :fill %>
    <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= planet.name %></h5>
        <p class="card-text"> <%= planet.solar_system %> </p>
        <%= link_to "View details", planet_path(planet), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
    <% end %>
</div>
