<%= render "shared/navbar" %>

<div class="entry-ban" style="text-align: center">
  <h1 style="margin-top: 30px">Thank you for your contribution !</h1>
  <h2>We appreciate all your opinions</h2>
</div>

<div style="text-align: center; margin-top: 40px">
  <h4>All your reviews :</h4>
</div>

<div class="details-sejour" style="display: flex; justify-content: space-between">
  <div>
    <h3 style="margin-bottom: 20px">Your review :</h5>
    <%= @review.title %>
    <%= @review.content %>
    <%= @review.rating %>
  </div>
  <div style="margin-top: 50px">
    <%= link_to "Edit your review", edit_review_path %>
    <%= link_to "delete your review", review_path(@review), data: { turbo_method: :delete } %>
  </div>
</div>

<%= link_to "All your reviews", reviews_path %>
<%= link_to "Surprise", thanks_path %>
